body::before{
    content: '';
    display: block;
    height: 60px;
}

@media (min-width: 768px) {
    .news-letter{
        width: 50%;
    }
}




/* .btn:is(:focus, :active){
    outline: none;
    box-shadow: none;
}
 */
